<a href="https://colab.research.google.com/github/amrish407/Python/blob/Python_Course/Maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Maths**

### **Logarithm**

The exponent or power to which a base must be raised to yield a given number. Expressed mathematically, x is the logaritm of n to the base b if bx = n, in which case one writes x = logb n.

For example, 23 = 8; therefore, 3 is the logaritm of 8 to base 2, or 3 = log2 8


#### Python functions for computing log:

- math.log(x) -> returns log(x) with base = e
- math.log(x, a) -> returns log(x) with base = a
- math.log2(x)  -> returns log(x) with base = 2

In [98]:
import math

In [99]:
math.e # this is called natural log, if the base is not defined

2.718281828459045

In [100]:
math.log(10) # this log of 10 with base e

2.302585092994046

In [101]:
math.log(343, 7)

3.0

In [102]:
math.log2(16)

4.0

In [103]:
n = 100

while n > 1:
  print(n)
  n = n/2

100
50.0
25.0
12.5
6.25
3.125
1.5625

How many iterations would the above code snippet take ?

-> Approx log<sub>2</sub> n

### **GCD**

math module method - math.gcd(*integers)

In [104]:
math.gcd(2,3)

1

In [105]:
a = 34
b = 76

while a != 0:
  a, b = b % a, a

print("GCD is ", b)

GCD is  2

### **LCM**

math module method - math.lcm(*integers)

In [106]:
math.lcm(15,10,40)

120

### **Prime** **Number** - sqrt(N) **method**

In [107]:
def isPrime(n):
  """
    This function returns T or F based on primality check of n.
    Time Complexity - O(sqrt(n))
  """

  if n == 1:
    return False

# Search for factors in the range [2, sqrt[n]]
  # sq = n **;(1/2)
  sq = int(math.sqrt(n))

  for i in range(2, sq + 1):
    if n%i == 0:
      return False

  return True

In [108]:
isPrime(13)

True

### **AP** - **Arithmetic** **Progrssion**

An AP, also called an arithmetic sequence, is a sequence of numbers which differ from each other by a common difference.

In [109]:
def printAP(a, d, n):

    curr_term = a

    for i in range(curr_term, n+1):
        print(curr_term, end=' ')
        curr_term = curr_term + d

In [110]:
# Find nth term
def lastTerm(a,d,n):
  t_n = a + (n-1)*d
  return t_n

# Sum of n terms
def sumOfNTerms(a, d, n):
  sum = (n/2)*(2*a +(n-1)*d)
  return sum

In [111]:
printAP(2,2,5)

2 4 6 8

### **GP** - **Geometric** **Progression**

In [112]:
#Like in AP we have written the formula directly
#same to be done here there is no in built python function for GP & AP

### Combinations

math module method -
math.comb(n, r)

In [113]:
math.comb(10, 4)

210

In [114]:
def combination(n, r):
  num = math.factorial(n)
  den = math.factorial(r) * math.factorial(n-r)
  return num/den

In [115]:
combination(10, 4)

210.0

### **Permutations**

math module method - math.perm(n, r)

In [116]:
math.perm(10, 4)

5040

In [117]:
def permutation(n,r):
  return math.factorial(n) / math.factorial(n-r)

In [118]:
permutation(10,4)

5040.0

### **Decimal** **to** **Binary**

Using python inbuilt functionality:

      def decimalToBinary(n):
        return bin(n).replace("0b", "")

In [119]:
def decimalToBinary(n):
    return bin(n).replace("0b", "")

In [120]:
bin(20)

'0b10100'

In [121]:
# own function
def decimalToBinary(n):
  l = []
  while n > 0:
    rem = n%2
    l.append(rem)
    n = n//2

# Reverse the List
  l = list(reversed(l))
  return l

In [122]:
decimalToBinary(20)

[1, 0, 1, 0, 0]

### **Binary** **to** **Decimal**

Using python inbuilt functionality:

      def binaryToDecimal(x):
        return int(x, 2)

In [125]:
def binaryToDecimal(x):
    return int(x, 2)

In [124]:
binaryToDecimal("100")

4

In [126]:
def binaryToDec(s):
  i = 0
  result = 0

  for digit in s[::-1]:
    result += int(digit) * (2 ** i)
    i = i+1

  return result

In [127]:
binaryToDec("100")

4

### **Problem** - Trailing Zeros in Factorial

Given an integer A, return the number of trailing zeros in A!

Note: Your solution should run in logarithmic TC

INPUT: 5

OUTPUT: 1

In [128]:
def trailingZeros(n):
  i = 1
  x = n // 5
  ans = 0
  while x >= 1:
    x = n // (5 ** i)
    ans += x
    i += 1

  return ans

# TC is O(log n) with base 5

In [129]:
trailingZeros(30)

7