<a href="https://colab.research.google.com/github/amrish407/Python/blob/Python_Course/Sets_And_Dictionaries_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Sets** **and** **Dictionaries**

## **Sets**

In [ ]:
s = {1,4,0,2,3, -3, 67, 99, 'hello', 'world'}

In [ ]:
type(s)

set

In [ ]:
s

{-3, 0, 1, 2, 3, 4, 67, 99, 'hello', 'world'}

In [ ]:
# List - insert - approx O(n) (for random insert where order not matters)

# Insertion, deletion, searching in a set - O(1) times

In [ ]:
if 4 in s:
  print("4 is present in set")

4 is present in set

In [ ]:
s.add(0)

In [ ]:
s.update([200,500,525]) #we can add 1 by 1 or else use update keyword

In [ ]:
s.remove(500)

In [ ]:
s.remove(625) # will through an error as showing not present

KeyError: 625

In [ ]:
s.discard(625) #if present than will remove else ignore (no error)

In [ ]:
s

{-3, 0, 1, 2, 200, 3, 4, 525, 67, 99, 'hello', 'world'}

In [ ]:
#set can only have immutable data inside its

# that is set and list can't be part of its

s = {
    'Hello',
    2,
    5.6,
    (2,5,8)
}

### Make list of unique tv shows compiling from all your friends favourite tv shows

In [ ]:
friend1 = [
    'How I Met Your Mother',
    'Breaking Bad',
    'The Wire'
]

friend2 = [
    'Breaking Bad',
    'Westworld',
    'The Office'
]

friend3 = [
    'Sopranos',
    'Game of Thrones',
    'Sherlock'
]

friend4 = [
    'Friends',
    'Sherlock',
    'Daredevil'
]

In [ ]:
finalList = set()
finalList.update(friend1, friend2, friend3, friend4)
finalList

{'Breaking Bad',
 'Daredevil',
 'Friends',
 'Game of Thrones',
 'How I Met Your Mother',
 'Sherlock',
 'Sopranos',
 'The Office',
 'The Wire',
 'Westworld'}

### A fifth friend comes along and produces his tv show list. He wants to check which of the shows you have in common with his list.

In [ ]:
friend5 = [
    'The Office',
    'Doctor Who',
    'Peaky Blinders'
]

In [ ]:
for tv in friend5:
  if tv in finalList:
    print(tv)

The Office

## **Dictonaries**

In [ ]:
# way of declaration
currency = dict()
print(type(currency))
currency = {}
print(type(currency))

<class 'dict'>
<class 'dict'>

In [ ]:
currency = {
    'India' : 'Rupee',
    'USA' : 'Dollar',
    'Japan' : 'Yen'
}

In [ ]:
currency

{'India': 'Rupee', 'USA': 'Dollar', 'Japan': 'Yen'}

In [ ]:
type(currency)

dict

In [ ]:
currency['India']

'Rupee'

In [ ]:
currency['USA'] = 'USD'

In [ ]:
currency

{'India': 'Rupee', 'USA': 'USD', 'Japan': 'Yen'}

In [ ]:
# list cannot be a key but tuples can be

t = (1,2,3)

currency[t] = 'ok'

In [ ]:
currency

{'India': 'Rupee', 'USA': 'USD', 'Japan': 'Yen', (1, 2, 3): 'ok'}

In [ ]:
del currency[(1,2,3)]

In [ ]:
currency

{'India': 'Rupee', 'USA': 'USD', 'Japan': 'Yen'}

### Order ?

Is order maintained in Python Dictionaries ?


All Python versions <= 3.6       -> unordered dictionaries

All Python versions >= 3.7       -> ordered dictionaries

### Iterating over a dictionary

In [ ]:
currency.keys()

dict_keys(['India', 'USA', 'Japan'])

In [ ]:
currency.values()

dict_values(['Rupee', 'USD', 'Yen'])

### **Challenge** - Check Palindrome!

Given a string A consisting of lowercase characters.

Check if characters of the given string can be rearranged to form a palimdrome.

Return 1 if it is possible to rearrange the characters of the string A such that it becomes a palindrome else return 0.

Input : "abcde"

Output : 0


Input : "abba"

Output : 1

In [ ]:
a = "abba"

In [ ]:
def solve(a):
  # declare a frequency map (dictionary)
  freq = {}

  for char in a:
    if char in freq:
      freq[char] += 1
    else:
      freq[char] = 1

  #Freq map created

  odd_freq = 0

  for frequency in freq.values():
    if frequency %2 == 1:
      odd_freq += 1

  if odd_freq <= 1:
    return 1
  else:
    return 0

# time complexity O(n)

In [ ]:
solve("asdf")

0

## **2D** **Lists**

In [ ]:
a = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [ ]:
a[0]

[1, 2, 3]

In [ ]:
a[0][0]

1

### Iterating over 2D array

In [ ]:
for row in a:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
for row in a:
  print(*row) # print rows without square bracket

1 2 3
4 5 6
7 8 9

In [ ]:
for row in a:
  for x in row:
    print(x)

1
2
3
4
5
6
7
8
9

### **Reading** **2D** **Input**

Let us say we are given an input as follows where the number rows and columns is given first and then the 2D matrix:

    2 4

    1 2 3 4
    5 6 7 8

In [ ]:
r, c = map(int, input().split())

In [ ]:
a = []

# read the input row by row
# run loop r times
for i in range(r):
  row = list(map(int, input().split()))
  a.append(row)

### Problems to Practice

#### Easy
1. Addition of two matrices
2. Subtraction of two matrices

#### Intermediate
1. Compute determinant of a square matrix
2. Compute product of two matrices (given they are product compatible)

#### Hard
1. Compute the inverse of matrix